<div class="login-container">
<h1>Sign up for AUF here!</h1>
<div class="row">
			<%=form_for :user, url:'/users' do |f| %>
			 <p>
			 <%=f.label :user_name%><br>
			 <%= f.text_field :user_name %>
			 </p>
			 <p>
				<%=f.label :email%><br>
			    <%= f.text_field :email %>
			</p>
			<p>
				<%=f.label :password%><br>
			    <%= f.password_field :password %>
			</p>
			<p>
			<%=f.label :password_confirmation%><br>
			 <%= f.password_field :password_confirmation %>
			 </p>
			<%= f.submit "Submit",class:"btn-primary" %>
		<% end %>
	</div>
</div>

