<div class="bd-pageheader">
<div class="container">
<h1><%= @workout.name %> amputees</h1>
<p class="lead"> All of these exercises are meant to help your body stay as pain-free as possible</p>
<p>For new amputees or for amputees who
choose to not wear a prosthetic(s), you can still
do core exercises, abduction/adduction
exercises, back extensions and pelvic
tilts to strengthen the ligaments and
tendons that help to support your
skeletal structure.
We seem to have this notion that unless
we’re pumping tons of weight, nothing
positive will happen. You will be
surprised how much better and stronger
you will feel with these simple exercise
moves. </p>
</div>
<div class="container">
	<div class="row">
		<div class="panel-group" id="accordion">
		<%@workout_categories.each do |var|%>
			<div class="panel panel-default">
				<div class="panel-heading">
				<h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%=var.name%></a></h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">

	<div class="panel-body">
		<table class="table">
		<% var.exercises.each  do |workout|%>
 			<tr> <td> <span><%=link_to workout.name,category_workout_category_exercise_path(@workout,var,workout)%> </span> </td> </tr>
 			<%end%>	
			<tr> <td> <%= link_to "Add a new Exercise", new_category_workout_category_exercise_path(@workout,var) %> </td> <td>	
			</table>
	</div>
	</div>
	
</div>
<%end%>
<h2 class="workout-category-form-header">Create a new workout</h2>
<div class="form-container">
 <%= form_for([@workout, @workout.workout_categories.build]) do |f| %>
 	<p>
		<%=f.label :name%>
		<%=f.text_field :name%>
	</p>
	<br>
	<p>
		<%=f.submit%>
	</p>
	<%end%>
</div>
 </div>
 </div>
