<div class="row">
	<div class="col-md-6">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Equipment</th>
				</tr>
				<tr>
					<td><%=@exercise.name%></td>
					<td><%=@exercise.difficulty%></td>
					<% if @exercise.equipment == nil %>
					<td>N/A</td>
					<% else %>
					<td><%= @exercise.equipment %> </td>
					<%end%>
				</tr>
			</thead>
		</table>
	</div>
	<div class="col-md-6">
		<div class="row">

		<div class="col-md-4">
			<%= link_to  category_workout_category_exercise_Upvote_path(params[:category_id],  params[:workout_category_id], params[:id]), :method => :put do %>
			<button style="float: left;"type="button" class="btn btn-danger btn-default btn-lg">
			<div class="row"><span style="align: center;"class="glyphicon glyphicon-fire"></span></div>
			<div class="row"><p class="lead">AmpUp</p></div>
			</button>
		<%end%>
		</div>
		<% if @exercise.votes == nil %>
		<% @exercise.votes = 0 %>
		<% @exercise.save %>
		<% end %>
		<div class="col-md-3">
			<button type="button" class="btn btn-default btn-lg">
			<div class="row-center"><span style="align: center;"class="glyphicon glyphicon-floppy-disk"></span></div>
			<div class="row"><p class="lead">Save for Later</p></div>
			</button>
		</div>
		<div class="col-md-5">
			<%= link_to  category_workout_category_exercise_Downvote_path(params[:category_id],  params[:workout_category_id], params[:id]), :method => :put do %>
			<button style="float: right;" type="button" class="btn btn-info btn-default btn-lg">
			<div class="row-center"><span style="align: center;"class="glyphicon glyphicon-tint"></span></div>
			<div class="row"><p class="lead">AmpDown</p></div>
			</button>
			<%end%>
		</div>
		
	</div>	
		<div class="row-center">
		<div class="col-md-12">
		<h1 style="text-align: center;"> Current Popularity: <%= @exercise.votes %>	</h1></div></div></div>
