<!DOCTYPE html>
<html>
<head>
  <title>AMPUFIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="dropdown">
		<button class="btn btn-default  dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
		<ul class="dropdown-menu">
			<li><%=link_to "About",categories_about_path%></li>
			<li>All categores</li>
			<li>Some other things</li>
			<li>Other stuff</li>
		</ul>
	</div>
</header>
 <div class="row">
        <div class="jumbotron">
          <h1 class="headline"><%=link_to "Amp U Fit",root_path%></h1>
		  <h3 class="headline">Well come up with something clever soon</h3>
        </div>
	  </div>


<div id="main-container" class="container">
               <%= yield %>
      </div>
    </div>

</body>
</html>
