<!DOCTYPE html>
<html>
<head>
  <title>AmpUFit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="scrollable">
  <div class="row">
    <div class="col-md-1" id="tit_bar">
      <h4>AmpUFit</h4>
    </div>
	<% if !current_user%>
		<div class="col-md-6" id="sign_in_header">
				<%=form_tag '/login' do%>

					Email: <%=text_field_tag :email%>
					Password: <%=password_field_tag :password%>
					<%=submit_tag "Submit"%>
					<%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
				<%end%>
		</div>
		<div class="col-md-2" id="sign_up_header">
	         		<p class="header_login">New user? <%= link_to "Sign up now!", signup_path %></p>
	
	 	</div>
	<%else%>
		<div class="col-md-8">
			<p><%=@current_user.email unless @current_user==nil%></p>
		</div>
	<%end%>
    <div class="col-md-3">
	<div class="dropdown">
		<button class="btn btn-default  dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
		<ul class="dropdown-menu">
			<li><%=link_to "About",categories_about_path%></li>
			<li><%=link_to "Home",root_path%></li>
			<li><%=link_to "My Account",root_path %></li>
			<li><%=link_to "Sign up",signup_path%></li>
			<li><%=link_to "Map",map_path%></li>
		</ul>
		</div>

    </div>
  </div>
</header>
 <div class="row">
        <div class="jumbotron">
          <h1 class="headline"><%=link_to"#{image_tag"LogoAUFwb",id:"logo"}".html_safe,root_path%></h1>
		  <h3 class="headline">"Making life more fit, one muscle at a time."</h3>
        </div>
	  </div>


<div id="main-container" class="container">
               <%= yield %>
      </div>
    </div>

</body>
</html>
