<!DOCTYPE html>
<html>
<head>
  <title>AMPUFIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="row">
    <div class="col-md-4" id="tit_bar">
      <h4>Ampufit</h4>
      </div>
	 <div class="col-md-4">

	 </div>
    <div class="col-md-4">
	<div class="dropdown">
		<button class="btn btn-default  dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span></button>
		<ul class="dropdown-menu">
			<li><%=link_to "About",categories_about_path%></li>
			<li><%=link_to "Home",root_path%></li>
			<li><%=link_to "My Account",root_path %></li>
			<li><%=link_to "Sign up",signup_path%></li>
			<li><%=link_to "Map",map_path%></li>
		</ul>
		</div>

    </div>
  </div>
</header>
 <div class="row">
        <div class="jumbotron">
          <h1 class="headline"><%=link_to"#{image_tag"LogoAUFwb",id:"logo"}".html_safe,root_path%></h1>
		  <h3 class="headline">"Making life more fit, one muscle at a time."</h3>
        </div>
	  </div>


<div id="main-container" class="container">
               <%= yield %>
      </div>
    </div>
<%if current_user%>
	<h1>LOGGED IN</h1>
<%else%>
	<h1>NOT LOGGED IN</h1>
<%end%>
</body>
</html>
